@model BookManagementSystem.Models.GioHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GioHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_KhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
